.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  top:0;
  width:100%;
  height: 65px;
  position:fixed;
  display:flex;
  background-color:bisque;
  z-index:10;
  box-shadow: 0 5px 5px rgba(57, 63, 72, 0.3);
}

.title{
  display:flex;
  align-items:center;
  margin-left:10px;

}
.logo_background{
  display: flex;
  color:dodgerblue;
  align-items:center;
  margin-left:50px;
}

.App-link {
  color: rgb(112, 76, 182);
}

.subreddit_container{
  margin-top:85px;
  height:100rem;
  width:100%;
  border: 2px solid red;
  font: black;
  font-weight: 700;
}

.main_section{
  margin-top: 85px;
  height:100rem;
  width:100%;
  font: black;
  font-weight: 700;
  position: relative;
  border: 2px solid red;
  overflow: scroll;
}
.body_section{
  display:grid;
  grid-template-columns: 70% 30%;
  grid-gap:20px;
}
.subreddit_icon{
  border-radius:50%;
  border: 2px solid blueviolet;
  height:2rem;
  width: 2rem;
}
.subreddit_button{
  display:flex;
  align-items:center;
  justify-content:flex-start;
}
.subreddit_name{
  font-size: 20px;
  font-family:Arial;
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
